.content {
    background-color: #F2F3F5;
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 700px;
}

.leftdummy {
    background-color:black;
    width: 450px;
   display: inline-block;
    
}

.rightdummy {
    background-color: black;
    width: 700px;
    display: inline-block;
}

.leftcontent {
    margin-top: 250px;
    display: flex;
}

.rightcontent {
    margin-top: 250px;
    margin-left: 50px;
    display: flex;
}

#facebooklogo{
    max-width: 300px;
}

h1 {
    max-width: 500px;
}

.languages li{
    display: inline-block;
    margin-left: 50px;
    background-color: aquamarine;
}

.line {
    border-top: 1px solid red;
    max-width: 900px;
}
