
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shop</title>
       
</head>
<body>
    
    <div class="main">

        <h2>Products</h2>


        <div *ngFor="let product of products" class="grid">

            <div class="content">
                
                <h3>
                    <a [title]="product.description">
                        {{ product.name }}
                    </a>
                </h3>
            
                <div class="text">
                    <p *ngIf="product.description">
                        <a href=" {{ product.link}}" target="_blank"> Description: {{ product.description }}</a>
                    </p>

                </div>
                
            
                <p *ngIf="product.image">
                    <img src= "{{ product.image }}" height="300">            
                </p>
            
                <a href="https://wa.me/77017219758" target="_blank" id="btn">  Share

                   

                </a>

              
            

            </div>
  
        </div>
        

    </div>
    

    <div class="footer">

        <div class="footer-container">
            <h1> PLEASE HAVE MERCY</h1>
            <img src="https://ih1.redbubble.net/image.5065733096.9927/st,small,845x845-pad,1000x1000,f8f8f8.u2.jpg" height="300" width="700">

        </div>

        

    </div>

</body>
</html> -->




<h2>Products</h2>
<button type="button" (click)="onSelect('camus')">Albert Camus</button>
<button type="button" (click)="onSelect('christie')"
style="margin-left: 20px;"> Agatha Christie </button>
<button type="button" (click)="onSelect('dostoevsky')"
style="margin-left: 20px;">Fyodor Dostoevsky</button>
<button type="button" (click)="onSelect('murakami')"
style="margin-left: 20px;">Haruki Murakami</button>


<app-product-item [selectedProduct]="selectedProduct"></app-product-item>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->