/* .content{

    height: 400px;
    width: 350px;
    align-content: center;
    background-color: pink;
    align-self: center;
    margin-right: 50px;
    margin-bottom: px;
   
}

.text{
    width: 200px;
}

.grid{
    display: inline-block;
    margin: 0 auto;
}

.footer-container{
    margin: 0 auto;
    align-items: center;
    margin-left: 700px;
}


#btn{
    
    border-radius: 25px;
    background: #e6c3e4;
    padding: 10px;
    
}



h2{
    color: red;
}

 */
